{% extends "plantilla_nav.html" %}
{% load static %}

{% block css %}
 
<link rel="stylesheet" href="{% static 'css/estilos_contacto.css' %}">
<title>Formulario de contacto</title>

{% endblock css %}

   
{% block contenido %}
    <section id="formulario">
        <h1>Formulario de contacto</h1>
        <p>Envianos alguna duda o comentario, te responderemos a la brevedad!</p>
        <form action="" method="POST">
            <div class="contenedor-form">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Enviar" id="btnEnviar">

            </div>
        </form>
    </section>
{% endblock contenido %}





{% block js %}
 <script src="{% static 'js/funciones_contacto.js' %}"></script>
 <script src="{% static 'js/contacto.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
{% endblock js %}